[2013-04-30 20:25] piyushk opened #1 "usage of calibration files and SXGA image_mode produces false clouds"
I noticed a problem calling freenect-registered-xyzrgb.launch (SXGA image_mode) and using custom calibration files:  http://pastebin.com/XfvuDYTJ. The produced cloud seems to contain just 1/4 of the actual data. The cloud does look fine if no calib files are used.

[2013-04-30 20:25] piyushk opened #2 "catkinize"
freenect_stack needs to be catkinized and released through bloom.

[2013-04-30 20:25] piyushk opened #3 "Cold starting the freenect driver produces no images"
This can be repeatedly produced on laptops running Ubuntu 12.04 Precise with freenect_stack-0.1.1 over USB 3.0.

Whenever the laptop is booted up, the first run of the freenect driver fails. Subsequent runs work as expected. This might be an upstream issue.

[2013-04-30 20:25] piyushk opened #4 "Enable QVGA resolution"
Need to add QVGA support internally by modifying the image/camera_info internally, or using one the image_proc nodelets

[2013-05-12 03:11] #2 closed, assigned to jack-oquin

[2013-05-12 03:13] piyushk opened #5 "nodelet description error? v0.2.0"
I am seeing this error with the system release for v0.2.0. I have not gone into detail for this error yet.

[code]

[2013-05-20 18:48] #5 closed, assigned to nobody

[2013-05-21 17:06] #3 closed, assigned to piyushk

[2013-05-21 18:27] #1 closed, assigned to nobody

[2013-06-21 18:34] piyushk opened #7 "Release freenect stack into hydro"

[2013-06-25 22:09] #7 closed, assigned to jack-oquin

[2013-09-18 20:45] l0g1x opened #9 "Kinect doesnt want to work with ROS Hydro over VM"
Hello,

I am trying to install drivers for microsoft kinect. I am using Ubuntu 12.04 on Parallels VM through Mac OSX with USB 2.0 compatibility only. I have been reading every post i can, but cannot figure out why i get this error on the last line after freenect recognizes my kinect device. Please let me know what possibilities i have of what drivers, in order to use the kinect on hydro with progr

[2014-01-11 03:54] piyushk opened #10 "Missing log4cxx headers when building against latest ros_comm."
The deb build is currently broken. See https://github.com/ros-drivers/hokuyo_node/issues/7 for context.

Solution pending https://github.com/ros-drivers/hokuyo_node/pull/8

[2014-01-17 23:49] #10 closed, assigned to piyushk

[2014-05-16 16:40] jack-oquin opened #11 "need porting for Indigo release"
I ran a pre-release test, but it failed:

 http://jenkins.ros.org/job/prerelease-indigo-freenect_stack/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=prerelease/1/

Looks like an incompatible change in the logging interface. I remember seeing similar problems with some packages in Hydro due to log4cxx includes being removed from some common ROS headers.

[2014-05-16 19:46] #11 closed, assigned to nobody

[2014-07-26 02:12] mirzashah opened #12 "Newer Kinect model 1473 errors out - "Unable to open specified kinect". Works fine with model 1414"
I just bought a new set of Kinects for Xbox with model number 1473. This article http://idav.ucdavis.edu/~okreylos/ResDev/Kinect/MainPage.html explains the difference, but in a nutshell...the newer version updates the hardware to work with Kinect for Windows protocols.

This seems to break functionality with libfreenect. The older Kinect for XBox model (1414) had no problems.  The problems are:

[2014-11-06 22:21] itamab opened #13 "waiting for devices to be connected"
Hi, I am trying to run "roslaunch freenect_launch freenect.launch" and get a recurrent message:
 No devices connected.... waiting for devices to be connected
The kinect camera is connected and works when running "sudo freenect-glpclview"
I am running indigo with ubunto 14.04
Any ideas?
Thanks

[2015-01-11 22:55] jihoonl commented on #13
@piyushk I couldn't get freenect working without tweak while testing freenect in Ubuntu 14.04 to chase https://github.com/turtlebot/turtlebot/issues/171.

Can you confirm that `ros-indigo-libfreenect` sets up udev rule with fresh installation?

[2015-01-11 23:13] piyushk commented on #13
@jihoonl I'm pretty sure that `ros-indigo-libfreenect` ***does not*** set up udev rules on a fresh installation. I don't believe I ever setup the post-install hooks to do so, and I'll have to look into how that can be achieved using bloom.

[2015-01-12 00:26] jihoonl commented on #13
I have tested the the instruction in  https://github.com/ros-drivers/freenect_stack/issues/12#issuecomment-63847980 to verify whether Xbox 360 kinect works with new version of `libfreenect`.

I have found that it works fine when `libopenni2-0` or `libfreenect0.2` is installed in the system. It sets up udev rule(40-libopenni2-0.rules) which is required for libfreenect.

[2015-01-19 02:37] jihoonl commented on #13
@piyushk do you plan to release `libfreenect` soon?

[2015-01-19 03:55] piyushk commented on #13
@jihoonl I'll try my best to get to it, but I'm a bit backlogged with work right now. How soon do you need the new version of libfreenect out?

[2015-01-19 08:00] jihoonl commented on #13
I am following up https://github.com/turtlebot/turtlebot/issues/171#issuecomment-68834263 to support both kinect and asus in turtlebot.  Is it possible to get them by next week?

[2015-01-27 08:18] jihoonl commented on #13
@piyushk. I would really like to get new deb soon. Is there anything I can help you to speed it up?

[2015-01-27 08:38] jihoonl opened #14 "kinect2 support"
Does it do kinect2 support? or does it require other library to use kinect2?

[2015-01-27 16:01] piyushk commented on #14
Once #13 gets resolved, freenect_stack in Indigo should support kinect v2.
I'll leave this ticket open until we have confirmed that.

Piyush
On Jan 27, 2015 2:38 AM, "Jihoon Lee" <notifications@github.com> wrote:

[2015-01-27 16:04] piyushk commented on #13
I will try and release a new deb today or tomorrow.
On Jan 27, 2015 2:18 AM, "Jihoon Lee" <notifications@github.com> wrote:

[2015-01-28 00:37] jihoonl commented on #14
I meant that I wonder whether [Kinect for Xbox one](http://en.wikipedia.org/wiki/Kinect_for_Xbox_One) is supported with this driver. because [openkinect has separate repo](https://github.com/OpenKinect/libfreenect2) to support this device

[2015-01-28 21:22] salsaman commented on #12
Hello, trying to test this now. What are the current instructions to test ? I tried following piyushk steps above, but I got an error:

sudo apt-get purge ros-indigo-libfreenect ros-indig-freenect-stack
mkdir -p ~/freenect_ws/src
cd ~/freenect_ws/src
wstool set freenect_stack --git https://github.com/ros-drivers/freenect_stack.git --version-new indigo-devel

ERROR in config: Command requires a tar

[2015-01-28 21:49] salsaman commented on #12
Yes there were some odd things with it not finding headers *, but it is working now !

* compiler was not finding freenect_ws/devel_isolated/libfreenect/include/libfreenect/libfreenect_registration.h or freenect_ws/devel_isolated/libfreenect/include/libfreenect/libfreenect.h. It was looking for libfreenect/libfreenect_registration.h and libfreenect/libfreenect.h

[2015-01-28 22:00] jack-oquin commented on #12
What is the advantage of using build_type cmake, instead of catkin? Is that mainly to minimize changes to the CMakeLists.txt?

I recommend moving the README.md to another file, where it can be referenced from a new one that explains why this version is specialized as a ROS package.

[2015-01-28 22:37] piyushk commented on #12
@jack-oquin Could you elaborate on your comment a bit. I'm not sure I quite follow what you meant here.

[2015-01-28 22:37] piyushk commented on #14
I didn't realize that the libfreenect2 changes were not going to get merged in. For some reason I was under the impression that the changes required for running Kinect2 had been merged into the original

This will likely require a separate libfreenect2 release.

[2015-01-28 22:52] jack-oquin commented on #12
The existing README.md is for the original OpenKinect/libfreenect repository. Leaving it here will confuse people. Their original README should be retained under some other name, like README_OpenKinect.

We should add our own README, explaining what we have done and why.

[2015-01-29 05:30] piyushk commented on #12
@jack-oquin: Using build type cmake does minimize changes to CMakeLists.txt, but also allows for building packages outside the ROS ecosystem. I would recommend doing so for any code that does not have a true ROS dependency.

That's a good point about the README. I will update it once I've got a working release (and before I close this issue).

[2015-01-29 05:31] piyushk commented on #12
@salsaman Thanks for testing! It should have resolved those headers automatically. I'm assuming there was a temporary snafu with workspace sourcing. I'll try to get the release out ASAP.

[2015-01-30 13:55] salsaman commented on #12
Great ! Any chance of fixing openni now, so we can start doing object detection :-D ?

[2015-01-30 16:40] jack-oquin commented on #12
Piyush: I agree about making minimal changes, and that no unnecessary ROS dependencies should be introduced.

Adding package.xml does no harm.

Don't forget that we had to [patch many header references](https://github.com/ros-drivers-gbp/libfreenect-release/issues/3) to make the header installation ROS-compliant.

[2015-01-30 21:24] piyushk commented on #12
PR for new indigo debs:
https://github.com/ros/rosdistro/pull/7036
https://github.com/ros/rosdistro/pull/7037

[2015-01-30 21:24] #12 closed

[2015-01-30 21:24] piyushk commented on #13
https://github.com/ros/rosdistro/pull/7036
https://github.com/ros/rosdistro/pull/7037

[2015-01-31 18:25] piyushk commented on #13
@jihoonl: I've verified that ros-indigo-libfreenect v0.5.1 installs the necessary udev rules. I don't have a sensor on hand to test the debs on my indigo machine, but I will do so soon and get back to you.

[2015-02-04 05:40] jihoonl commented on #13
[code]
I am getting this error when I tried to subscribe `/camera/depth_registered/points` topic.
![screenshot from 2015-02-04 14 39 47](https://cloud.githubusercontent.com/assets/1556736/6035735/c8121dfe-ac7b-11e4-98d7-cbefe7c5aa79.png)
![screenshot from 2015-02-04 14 39 22](https://cloud.githubusercontent.com/assets/1556736/6035736/c8e65b28-ac7b-11e4-93e1-b53505bd47da.png)

[2015-02-04 06:20] piyushk commented on #13
This is an issue with tf_prefix in rgbd_launch. See https://github.com/ros-drivers/rgbd_launch/blob/indigo-devel/launch/kinect_frames.launch

However, I didn't think this problem would interrupt normal operation. Are you just getting a warning, or are you getting an error because of this issue?

[2015-02-04 07:13] jihoonl commented on #13
Yeah I am in trouble. Rviz does not visualise any point cloud data with this warning.

[2015-02-04 17:34] piyushk commented on #13
I will try and reproduce this error today and get back to you.

[2015-02-04 18:36] mikeferguson commented on #13
I have run into this in openni2_launch -- we ended up creating a separate launch file for people wanting to use tf_prefix, because tf2 will simply not allow a leading slash:

 * https://github.com/ros-drivers/openni2_launch/commit/3d7d11ef8042e3c48a76b94ad5bd04494cd13ed9
 * https://github.com/ros-drivers/openni2_launch/commit/36982b4838da235d667f826a44cb39797b1a20d6

[2015-02-04 18:42] piyushk commented on #13
Thanks @mikeferguson!

While I'm aware of the problem, I was under the impression that it wouldn't affect regular operation. I'm a bit confused as to how I've not seen this error before when testing freenect_launch. Does the problem only exist in indigo and not hydro?

I'll test later tonight and apply the same change to freenect_launch.

[2015-02-04 18:46] piyushk commented on #13
Actually, I'm having trouble seeing how your commits solve this problem.

https://github.com/ros-drivers/rgbd_launch/blob/indigo-devel/launch/kinect_frames.launch still has a default parameter for tf_prefix set to "". Not supplying the parameter or supplying "" should make no difference.

[2015-02-05 05:28] piyushk commented on #13
@jihoonl I'm having trouble reproducing the error right, and will be flying to India tomorrow (I only have 1 indigo machine, and as far as I can tell everything seems to be working). I won't be able to work on this issue for 2 weeks. If @mikeferguson's solution works for you, please submit a PR and I'll update this package.

[2015-02-06 06:37] jihoonl commented on #13
@mikeferguson solution works for me. @piyushk I have created PR. Could you review it?

[2015-02-12 04:15] #13 closed

[2015-02-26 16:53] piyushk opened #16 "pointcloud not produced using sw registration pipeline"
@jihoonl I've managed to establish the error in #15

The hardware registration pipeline seems to be working fine (depth_registration = true). The s/w registered pipeline does not (depth_registration = false).

I'll investigate this error and fix it. I believe @mikeferguson solution in #13  is one viable option.

[2015-02-27 03:21] piyushk commented on #16
Closed in 8572761

[2015-02-27 03:21] #16 closed

[2015-03-07 21:05] ccsmart commented on #12
Greetings and thanks for your time.
Was this implemented ?
Currently trying on armhf Trusty / Indigo but appears to not be.
Is there a test version maybe ?
Thanks

On 20.10.2014 21:06, Piyush Khandelwal wrote:

[2015-03-07 21:40] piyushk commented on #12
@ccsmart It's been implemented, but the Indigo sync hasn't happened yet, and you're probably still using the old debs. Tully said it would be on Monday. In the meantime, you can try the shadow-fixed ROS repository.

[2015-03-30 18:47] #9 closed

[2015-04-07 14:45] jack-oquin opened #18 "freenect_launch: tf_prefix arg missing from Indigo version"
The Hydro branch has this argument, but it is missing in Indigo.

[2015-04-07 16:28] piyushk commented on #18
@jack-oquin This is on purpose. See #16, #13 for the discussion. You've got to use freenect_tf_prefix.launch in Indigo due to tf2 changes.

I'm now tracking a downstream issue https://github.com/ros/ros_comm/pull/540 to see if we can get back to merging these files in Jade.

[2015-04-07 16:28] piyushk opened #19 "Create a hydro-devel branch, use master in place of indigo-devel and make that the default branch."

[2015-04-07 22:27] jack-oquin commented on #18
If that's the case, we need to introduce a ``freenect_tf_prefix.launch`` in the Hydro version. so dependent packages can work with both releases.

[2015-04-07 22:34] piyushk commented on #18
@jack-oquin That's a great idea. I'll try and test it out soon.

[2015-04-09 16:32] #18 closed

[2015-04-09 18:07] piyushk commented on #19
Closed via https://github.com/ros/rosdistro/pull/7889

[2015-04-09 18:07] #19 closed

[2015-04-10 14:17] jack-oquin commented on #19
Do you want to update the indigo distribution.yaml to use master, instead of indigo-devel?

I can see doing it either way.

[2015-04-10 14:34] piyushk commented on #19
Due to a mistake I made earlier,  it's already set to master. The indigo-devel branch no longer exists.

[2015-04-10 14:48] jack-oquin commented on #19
Sounds good.

I usually postpone creating devel branches until I have to make a change that does not also apply to later releases.

[2015-08-26 09:36] End-Effector opened #21 "Kinect Calibration question!"
Hello,

I'm working with this package, but I think I need to calibrate the Kinect because of changes in the illumination.

I can calibrate the Kinect using opencv that gives me a camera_conf.xml file that is the configuration of the camera. I can then convert this file from .xml to .yaml.

My question is, where do I put this file to be used by the Freenect package?

Thanks for help!

[2015-08-26 11:09] End-Effector commented on #21
I found out, its in /home/user_name/.ros/camera_info/camera_config.yaml

[2015-08-26 11:09] #21 closed

[2015-09-15 02:37] lucbettaieb opened #22 "freenect broke my kinect (?)"
Was trying to get my Kinect streaming a pointcloud into rviz.  When I launched freenect.launch from freenect_launch and went into rviz and selected the PointCloud2 type and selected the appropriate topic, everything froze, the program crashed, and now my Kinect is unresponsive.  (The green lights aren't even turning on when I plug it in)

Previously to me doing this, I tried openni with no success

[2015-09-15 18:47] lucbettaieb commented on #22
@piyushk : any idea as to what may have happened?

[2015-09-16 07:11] piyushk commented on #22
@lucbettaieb Sorry to hear about the non-functioning Kinect! I'm afraid I have no idea, as I've never experienced hardware failure while running this driver. The fact that openni did not work in the first place does not seem promising.

[2015-09-18 21:26] lucbettaieb commented on #22
@piyushk Dang, well; If I find anything out I'll re-open the ticket.  Thanks.

[2015-11-05 21:19] kyrofa commented on #14
Any progress on this issue? Kinect1 is getting more and more difficult to obtain.

[2015-11-07 09:00] fdcqsjn commented on #22
Hi,I have the same problem.and when I use
[code]
then use rviz,kinect worked.

[2015-11-11 20:29] lucbettaieb commented on #22
Interesting, I'll give it a try.

[2016-01-01 23:30] vrabaud opened #23 "Release for Jade"
Thx !

[2016-01-24 23:18] user3e93rf23 commented on #23
Do the following outside ROS in any directory  like $cd /home/XY
*do as told by libfreenect repository:
git clone https://github.com/OpenKinect/libfreenect
cd libfreenect
mkdir build
cd build
cmake -L ..
make
*copy header files from XY/include/*.h to the new folder inside package
YOURWS/freenect_stack/freenect_camera/include/NEWFOLDER
where newfolder should be named to libfreenect.
This prevents t

[2016-01-25 15:00] jack-oquin commented on #23
Thanks for the detailed instructions.

Which version of libfreenect are you building?

[2016-01-25 15:12] user3e93rf23 commented on #23
master branch on clone date 24.1.16 (snapshot of repository)

[2016-01-26 10:33] user3e93rf23 commented on #23
@jack- see above.
Is the flush at the end a problem or normal as no-one subscribed to one of the topics yet?
[ INFO] [1453735019.374096650]: Number devices connected: 1
[ INFO] [1453735019.374484282]: 1. device on bus 000:00 is a Xbox NUI Camera (2ae) from Microsoft (45e) with serial id '0000000000000000'
[ INFO] [1453735019.376677433]: Searching for device with index = 1
[ INFO] [1453735019.44360

[2016-01-26 15:08] jack-oquin commented on #23
@piyushk: what do you suggestion doing for Jade?

Do you think we should release a newer version of the library?

[2016-01-29 11:53] user3e93rf23 commented on #23
It would be time saving to add this to the readme:
#use the image_view package to visualize topics
$ rosrun image_view image_view image:=my_camera/image_rect_color

#All processing is on demand. Color processing is performed only if there is a subscriber to a color topic. Rectification is performed only if there is a subscriber to a rectified topic, etc.
Yes it works.

[2016-01-29 13:38] jack-oquin commented on #23
Thanks for testing, and for the suggested doc updates.

[2016-02-03 15:27] JoeMWatson opened #24 "tf publishing rates for camera_rgb_optical_frame and camera_depth_optical_frame are very slow"
hello,

I'm having some trouble with using the kinect with other software because the above transforms are published at 10.175Hz on average, whereas tfs are typically published at around 50Hz. This is causing a lot of synchronization issues e.g. 'Lookup would require extrapolation into the past'. Do you have any idea what is causing the lag and how I could speed it up?

[2016-02-07 12:26] user3e93rf23 opened #25 "Format of calibration files"
I did load an calibration file into the directory the stack told me before:
`[ WARN] [1454769411.254247332]: Camera calibration file /home/baum/.ros/camera_info/depth_A70774V01752221A.yaml not found.
`
But it does not load it on startup. Does anyone have a format template for this? I tried it with the sample from RGBDemo: (changed the ending to .txt to make it  preview )
https://drive.google.com/f

[2016-02-07 13:38] jack-oquin commented on #25
That message comes from the [camera_info_manager](http://wiki.ros.org/camera_info_manager) library, but the YAML file format is defined in the [camera_calibration_parsers documentation](http://wiki.ros.org/camera_calibration_parsers?distro=jade#YAML).

I presume that the ``/home/baum/.ros/camera_info/depth_A70774V01752221A.yaml`` file does actually exist, and the root problem is with its contents.

[2016-02-07 13:51] user3e93rf23 commented on #25
I think were going the right direction. I copy/pasted the yaml-values from [camera_calibration](http://wiki.ros.org/camera_calibration_parsers?distro=jade#YAML)<br>
Now it says:
[ WARN] [1454852958.599695875]: [depth_A70774V01752221A] does not match name prosilica in file /home/baum/.ros/camera_info/depth_A70774V01752221A.yaml

[2016-02-07 14:07] jack-oquin commented on #25
The Prosilica camera in that example is probably not exactly what you want.

You might try editing your original example calibration to follow the YAML format of the Prosilica example.

Most Kinect cameras seem to work reasonably well with no calibration provided. Are you seeing image artifacts that need rectification?

[2016-02-07 14:14] user3e93rf23 commented on #25
I guess I nailed it, I had to change the camera name to what the program was suggesting
`[ WARN] [1454853568.797739941]: [depth_A70774V01752221A] does not match name A70774V01752221A in file /home/baum/.ros/camera_info/depth_A70774V01752221A.yaml
`<br>
`image_width: 2448
image_height: 2050
camera_name: depth_A70774V01752221A
camera_matrix:
  rows: 3
  cols: 3
  data: [4827.94, 0, 1223.5, 0, 4835.6

[2016-02-07 14:16] #25 closed

[2016-03-01 14:48] mcgi5sr2 commented on #14
Is there anyway that this stack could be re-purposed to work with libfreenect2 ?

[2016-03-02 16:59] jack-oquin opened #26 "nodelet crashed with SIGSEGV in freenect_close_device()"
This crash was observed on one of our robots (clamps), probably on shutdown.

Ubuntu Trusty, ROS Indigo, amd64.

Segfault happened at: 0x7f519d708c80 ``<freenect_close_device+64>``

I can't tell whether that actual problem is here or in libfreenect, and I can't figure out how to copy and paste the stack traceback from the Ubuntu crash report. I'll try to get a real gdb traceback if I can reproduce

[2016-03-02 17:30] piyushk commented on #14
@mcgi5sr2: There is libfreenect2 support in ROS, just not via freenect_stack. http://www.ros.org/news/2014/09/microsoft-kinect-v2-driver-released.html

I'm a bit backlogged at the moment, so I'll try and add libfreenect2 support to this stack soon.

[2016-03-02 17:31] piyushk commented on #26
@jack-oquin Thanks! I've never seen this error before.

[2016-03-02 19:17] mcgi5sr2 commented on #14
Hi piyushk,
I am using the libfreenct2 and iai_kinect2 drivers. I am trying to get skeleton_tracker to work which is a fork of openni_camera. I was hoping to sub in this repo instead of the openni_camera one ot work with the kinect2. I'll need to look at all of it more closely, as I think its going to be a bit of hack. Thanks for the repy pal

[2016-03-09 17:15] jack-oquin commented on #26
Happened again today. Different address, but same offset in ``freenect_close_device``.

[2016-04-19 08:59] heavyhuang opened #28 "cannot find freenect_camera/FreenectConfig.h"
Hello,
I'm having some trouble with `yaourt ros-indigo-freenect-stack ` in arch-linux,it's get:

[code]
and I find `#include <freenect_camera/FreenectConfig.h>` in `driver.h` but cannot find `FreenectConfig.h`,does it change name?

[2016-04-19 15:27] piyushk commented on #28
@heavyhuang FreenectConfig.h is auto-generated from this file: https://github.com/ros-drivers/freenect_stack/blob/master/freenect_camera/cfg/Freenect.cfg, using dynamic reconfigure message generation.

I suspect it might be because CMakeLists is missing an add dependency on the autogenerated config file. I'll add it shortly. Unfortunately, I'm not aware as to how yaourt works. I'm assuming you can

[2016-04-19 15:44] piyushk commented on #24
@JoeMWatson Apologies for the delayed response. I don't know. tf frames are published at 100Hz: https://github.com/ros-drivers/rgbd_launch/blob/indigo-devel/launch/kinect_frames.launch

I suspect this problem is probably specific to your system. Please reopen if otherwise.

[2016-04-19 15:44] #24 closed

[2016-04-19 15:59] piyushk commented on #28
@heavyhuang I've now updated the master branch.

[2016-05-26 15:58] jacquelinekay commented on #28
The binary job on Kinetic appears to fail because of this issue:

http://build.ros.org/job/Kbin_uX64__freenect_camera__ubuntu_xenial_amd64__binary/4/

[2016-05-26 17:36] jack-oquin commented on #28
@jacquelinekay: We have a fix for that problem, which suddenly appeared in Xenial. I plan to re-release soon, but would like to run a Travis CI test for Xenial and Kinetic, if that's possible yet.

[2016-05-26 22:19] jacquelinekay commented on #28
Thanks for re-releasing!

[2016-05-26 22:31] jack-oquin commented on #28
You are welcome, Jackie.

@heavyhuang: can you verify whether this fixes your problem with Arch Linux?

You'll need to build it from source, as this fix has only been released to Kinetic so far. If it fixes your problem, I'll release it to Indigo, too.

[2016-07-01 17:45] shiqizhang6 opened #31 "[nav_kinect/nav_kinect_nodelet_manager-1] process has died"
The following error happens while using a Kinect 1 sensor.

terminate called after throwing an instance of 'std::runtime_error'
  what():  freenect_process_events error
[nav_kinect/nav_kinect_nodelet_manager-1] process has died [pid 7952, exit code -6, cmd /opt/ros/indigo/lib/nodelet/nodelet manager __name:=nav_kinect_nodelet_manager __log:=/home/users/szhang/.ros/log/e26db7b2-3faf-11e6-960d-408d5

[2016-07-01 17:45] shiqizhang6 commented on #31
@piyushk

[2016-09-07 20:08] yohlane commented on #28
@jack-oquin, @heavyhuang Adding the folling before the make in the PKGBUILD worked
sed -i '40 a add_dependencies(freenect_node ${PROJECT_NAME}_gencfg)' ${srcdir}/${_dir}/CMakeLists.txt
sed -i '46 a add_dependencies(freenect_nodelet ${PROJECT_NAME}_gencfg)' ${srcdir}/${_dir}/CMakeLists.txt

[2016-10-06 00:20] arpit15 opened #32 "no data received with kinect v1"
I am able to see the depth and rgb image with libfreenect library.
I am trying to use this package with ros kinetic, ubuntu 16.04 and kinect v1 with the following command.
`roslaunch freenect_launch freenect.launch`
However I am getting the [errors](https://gist.github.com/arpit15/712f730537eefeb21a79d78954324ce0) messages. Please let me know if I am using the correct commands or is there any othe

[2016-10-14 12:34] vfdev-5 commented on #32
Looking at your "errors" messages, you do not have any errors. The message "Stopping device RGB and Depth stream flush." can be also related with that there are no subscribers listening to the topic.
Check with `rostopic hz /camera/rgb/image_color` whether you receive messages. What do you have when you call `rostopic list` ?

[2016-10-14 22:35] arpit15 commented on #32
Output of rostopic hz /camera/rgb/image_color
`subscribed to [/camera/rgb/image_color]
no new messages
no new messages
no new messages`

Output of rostopic list
[rostopics](https://gist.github.com/arpit15/f19c8c466e366ac6bdd3d5580f31e6c8)

[2016-10-14 22:45] vfdev-5 commented on #32
What is your kinect v1 model 1414 or 1417 ? Did you install `libfreenect` using `apt-get` or you have only `ros-kinetic-libfreenect`, what do you have on `locate libfreenect` ?

[2016-10-14 23:07] arpit15 commented on #32
Kinect is v1 1414.
I installed both. The output for `locate libfreenect`
[output](https://gist.github.com/arpit15/6f96955324f732843d261b53aae6826c)
full log of `roslaunch freenect_launch freenect.launch`
[log](https://gist.github.com/arpit15/e90a973820fc780f3a950d5a1e61b15b)

[2016-10-14 23:30] vfdev-5 commented on #32
Right, this can be the problem if you have multiple drivers of different versions. In my case I had a similar issue few weeks ago. Solution was to remove all `libfreenect` drivers from the system `/usr/lib`, `/usr/local/lib` etc. And install only `ros-kinetic-freenect-stack` which has `ros-kinetic-libfreenect` as dependency. The latter is a `libfreenect` driver version 0.5.1.

[2016-12-21 09:20] TomBrunner opened #33 "Freenect_launch depth camera does not publish"
Hi,

I'm quite new to ROS and CPP but what im trying to do is use face detector (http://wiki.ros.org/face_detector) with the kinect camera.
The problem I am having is that /camera/depth_registered/image_raw does not send anything until I echo it.
When using rostopic info it does say it is subscribed to by the face detector (and published by /camera/camera_nodelet_manager).
So what I would like to

[2016-12-24 12:16] AoboJaing opened #34 "ROS Groovy catkin_make freenect_stack failed"
I download code https://github.com/ros-drivers/freenect_stack
`cd ~/catkin_ws/src/`
`git clone git@github.com:ros-drivers/freenect_stack.git`
then
`cd ~/catkin_ws/src/freenect_stack`
`git checkout freenect_stack-0.2.2`

then I make it

`cd ~/catkin_ws`
`catkin_make`

But I get "Invoking "cmake" failed"

[code]

How to solve this fail? Thank you .

[2017-04-26 19:22] 130s opened #35 "Consolidate rgbd repositories into a single repo"
Please see https://github.com/ros-drivers/openni_launch/issues/30 and continue discussion there.

[2017-06-12 23:02] Booooooosh commented on #34
Have you installed the libfreenect, it says that the freenect library can not be found? (Been a long time, guess you have figured out the problem).

[2017-06-12 23:06] Booooooosh opened #36 "libfreenect library header file path should be libfreenect.h instead of libfreenect/libfreenect.h"
I installed the libfreenect using debian package instead of building from source, and found out that the header file path should be libfreenect.h instead of libfreenect/libfreenect.h (Which located in the /usr/include)

[2017-07-12 18:20] Robinroy-peter commented on #22
i got below error but my kinect is working perfect...early a time its worked but now its show this error...freenect_launch working normaly without error but if i run rviz its show the below error please help me

[ INFO] [1499883433.167600440]: Stopping device RGB and Depth stream flush.
terminate called after throwing an instance of 'std::runtime_error'
  what():  freenect_process_events error
[ca

[2017-11-03 05:57] ravich2-7183 opened #38 "Are the /depth and /rgb topics synced?"
Are the /camera/depth/image_raw and /camera/rgb/image_raw topics synced?

[2017-11-09 01:42] randoms opened #39 "Fail to launch in ROS Kinetic"
[code]

[2017-11-09 09:01] sowrabhnayak commented on #32
I have connected Kinect V2 on my Ubuntu 14.04 which has got Indigo.
I have a different problem.... I'm not getting any errors but the system is not detecting the connected kinect.
some of the statements on running the command is

 * /camera/driver/depth_registration: False
 * /camera/driver/enable_depth_diagnostics: False
 * /camera/driver/enable_ir_diagnostics: False
 * /camera/driver/enable_rgb_

[2018-01-09 09:22] randoms commented on #39
My own mistake

[2018-01-09 09:22] #39 closed

[2018-01-10 15:25] suijingfeng opened #40 "freenect_process_events error occasionally"
I use turtlebot's kinect.launch.xml to launch this driver, this error occur occasionally, which cause me fail to build a map. the log is following, I dont know how to make this driver more stable.

terminate called after throwing an instance of 'std::runtime_error'
  what():  freenect_process_events error

[camera/camera_nodelet_manager-2] process has died [pid 27170, exit code -6, cmd /opt/ros/ki

[2018-04-04 04:34] gersonos commented on #40
Hey man, I have the same problem as you. It happens occasionally and I cannot generate accurate maps. I mean, I've managed to make some of them when it doesn't crashes, but that's not the idea of this. I've looking for all kinds of variables on this without success. I know the problem resides on nodelet, and happens in freenect_launch and openni_launch.

Have you solved this issue? I'll be thankfu

[2018-04-04 04:52] gersonos opened #41 "freenect and openni launchers crashes most of time with nodelet"
Hey guys. I've already posted this topic in ros-answers.org [,](https://answers.ros.org/question/286846/freenect_launch-vs-openni_launch-recommendations-for-kinect/) but now I'm totally sure the problem is for nodelet because of the following error [https://imgur.com/a/0z3vs?](url). I've been searching for solutions without success. For openni_launch if I change depth_registration to true it keeps

[2018-04-13 01:14] suijingfeng commented on #40
@gersonos , updated it with `apt-get update` and `apt-get upgrade`, may be fixed by the author.

[2018-04-13 20:04] gersonos commented on #40
Thanks for your reply suijing. I've tried and everything seems normal after it updates. Have you changed some ubuntu repositories? like the ones that comes after installing and the ros one?

[2018-06-22 15:06] josephcoombe commented on #22
I got a similar error with
Ubuntu 16.04
ROS Kinetic
Xbox 360 Kinect - Model 1414
[code]

[2018-06-22 18:28] lucbettaieb commented on #22
Looking in the source, this looks like it might be related to the device not being recognized.  I'm going to reopen this to see if there can be an explanation.

[2018-06-22 18:29] lucbettaieb commented on #22
@piyushk Any idea if this line is related to a hardware failure?

https://github.com/ros-drivers/freenect_stack/blob/44a573e6176fe357fb61326dd36a7d207d4c98c6/freenect_camera/include/freenect_camera/freenect_driver.hpp#L95

[2018-08-20 13:46] cgdsss opened #42 "Does this package process the original depth image(disparity) from libfreenect?"
The raw data obtained from libfreenect using Kinect depth sensor is actually a 11-bit number between 0-2047, called disparity (with unit in kdu--kinect disparity unit), while other libraries like OpenNI provides converted depth data. However, I found that the data in /camera/depth/image_raw is converted real depth(mm) and >2047.But I could not find where the raw data was converted in the code. Wha

[2018-09-24 22:04] prfiredragon opened #43 "No pointcloud topics in ROS Kinetic / Ubuntu 16.04 with Kinect 360"
Hi. I have One Laptop With ubuntu 14.04 Ros indigo, one with Ubuntu Bionic Ros Melodic, One Odroid-C2 with 2 SD cards one with Melodic and one with Kinetic. Only on the Kinetic, I got :

[ INFO] [1537766868.565166002]: Stopping device RGB and Depth stream flush.
[ INFO] [1537766870.562413780]: Device timed out. Flushing device.
[ INFO] [1537766870.562851785]: Starting a 3s RGB and Depth stream flu

[2018-09-28 06:09] GmGniap commented on #22
I'm getting errors like this (both laptop & Rpi ROS Kinetic version) , do you find any solutions ? When I search on web , some said it's bcoz of memory allocation(not enough memory error) . I think I'm being mad with this shit error :')

[2018-09-28 20:12] lucbettaieb commented on #22
What kind of raspberry pi are you using? I'd not be surprised if it's because there's not enough memory on the board.

[2018-11-11 15:11] frannecki commented on #22
Have you ever considered usb autosuspend? I've had a similar problem and finally solved it. Just look at this post it might help
[https://devtalk.nvidia.com/default/topic/746596/embedded-systems/usb3-port-not-providing-continuous-power-/post/4239121/#4239121](url)

[2018-11-11 15:14] frannecki commented on #22
I think you need to copy the link and open it in a new tab

[2018-11-13 21:56] wheemzy1 commented on #23
I am fairly new on ROS. I am trying to use the Kinect (2012 Model 1414) on Ubuntu 16.04/Ros-Kinetic. Could anyone point me to the correct package or instructions? Is this the correct repository? Thanks!

[2019-03-05 08:35] katrineseel commented on #41
I am having the exact same problem, would very much appreciate an answer to this!

[2019-03-23 09:49] 130s opened #48 "Release into ROS Melodic"
I noticed that freenect_stack depends on [`libfreenect` ROS package](http://wiki.ros.org/libfreenect), which doesn't seem to be released into ROS Melodic yet. It would be great if that's taken care of.

I'm aware of https://github.com/ros-drivers/freenect_stack/issues/23 (a release request for ROS Jade, which is EoL already by now), and https://github.com/ros-drivers/freenect_stack/pull/30 (looks

[2019-03-23 09:51] 130s commented on #48
Btw this blocks e.g. https://github.com/turtlebot/turtlebot/issues/272

[2019-03-29 13:13] lukewebdev commented on #48
This is an issue for me too; the latest turtlebot branch for melodic has been changed to use openni instead of freenect. I can't seem to find driversfor openni that work on the rockpro64 board I've installed melodic turtlebot branch on, and as a result I can't user my sensor.

[2019-04-18 16:48] lukewebdev commented on #48
Incidentally, the package seems to work fine as-is if I manually clone the repository and use it that way. So hopefully it isn't a big undertaking to get this released.

[2019-07-16 00:10] luisdomjr11 commented on #48
I've manually cloned the libfreenect package, but I still cannot get freenect to build. Did you clone in it in a specific folder? Any help is appreciated. My and my group members are running into this issue on out project, it's a pain.

[2019-07-23 01:51] WyattAutomation commented on #48
I was able to install this, and I don't know if it's going to work like I'm expecting but I now have libfreenect and the ros freenect_launch and other freenect_node stuff all installed in Melodic on Ubuntu18.04, per the commands below:

Compile/install libfreenect from source, *NOT* an apt install of libfreenect-dev (if you installed that via apt it shouldn't hurt, it just won't work.  No need to

[2019-07-23 01:55] WyattAutomation commented on #48
Thanks Luke, for at least giving me some hope it's still working in Melodic; literally the only comment on the internet regarding this that wasn't just like "it's impossible"..

Let me know if you run into problems with this; it's still a very useful tool.  It's not 2019 if you can't build robots of doom out of scrap consumer electronics..

[2019-09-15 12:59] elgarbe commented on #40
Hi, I have the same problem and upgrading don't solve it.
Does anybody know about a stable xbox360 kinect driver? freenect and openni seems to not work.

[2019-09-15 16:14] elgarbe commented on #48
Hi, so you @WyattAutomation get kinect for xbox 360 working ok with this driver?
what is your computer setup? I will try it on odroid xu4 and on my laptot PC.

[2019-09-15 16:22] elgarbe commented on #43
Hi, do you have a kinect for xbox 360 working ok on odroid C2? and on a laptop PC? It working ok with melodic and on indigo but not on kinetic? I'm fighting for a week or so on desktop PC, odroid xu4 and laptop PC, all of them with kinetic.... Can you share your installation steps on melodic, please?

[2019-09-15 22:17] elgarbe opened #49 "stable setup for kinec v1"
Hi, I'm trying to get kinect v1 to work on freenect for the last week. I've tried on odroid xu4, on laptop PC, on desktop PC, with ubuntu mate and bionic, with ros kinetic and melodic. After fighting on each setup I manage to get it working but in unstable way. I can run rosrun frenect_launch freenect.launch and rostopic hz /camera/rgb/image_raw OR  rostopic hz /camera/depth/image_raw. It usually

[2019-10-08 12:52] rickba2 opened #50 "Reduce kinect resolution"
I wanted to speed up my processing on Raspberry Pi and i was trying to reduce kinect resolution to 320x240. Is that possible on freenect? Does it have any parameter that i can modify to improve my processing?

Thank you!

[2019-10-10 17:27] #22 closed

[2019-10-28 05:54] jainsakku commented on #39
facing similar issue. Please drop in the solution!
Thanks

[2019-11-01 00:57] randoms commented on #39
I edited the source code to add some features. And a  bug in my code make caused this issue.

[2019-11-15 19:22] zoldaten commented on #34
git clone https://github.com/ros/diagnostics.git

and install by catkin_make

[2020-02-27 20:28] maxsvetlik commented on #48
The main issue is that `libfreenect` is no longer maintained by `ros-drivers` and the install location of the header files for the deb `libfreenect` is different than the install location of the header files for `ros-drivers`'s `libfreenect`.

This is addressed by #51. If you use that fork and install `libfreenect-dev` through `apt`, `freenect-stack` should not complain. With this resolved, hopefu

[2020-03-18 15:08] maxsvetlik commented on #48
Closed by #51. The `master` branch now targets `melodic` development. `kinetic` development is now on the `kinetic` branch.

[2020-03-18 15:08] #48 closed

[2020-03-18 15:10] maxsvetlik commented on #36
This has been fixed as of #51.

[2020-03-18 15:10] #36 closed

[2020-03-18 19:45] 130s commented on #48
@maxsvetlik Thanks for taking a lead on this!

I see `master` is still the default branch on this. If you mean the `master` stores only the released state (like `git flow`), I think changing the default to a development branch would avoid confusion.

That said I have no idea how many developers still clone the code of this project, so this may not matter.

[2020-03-18 20:13] WyattAutomation commented on #48
@maxsvetlik Thanks for you efforts!

[2020-05-10 09:10] AIWintermuteAI commented on #49
I recently wrote an article about using Kinect 360 and RTAB-MAP ROS with Rasberry Pi 4, with some tweaks it does work now! Not sure if that can be applied to odroid xu4...
https://www.hackster.io/dmitrywat/rgb-d-slam-with-kinect-on-raspberry-pi-4-ros-melodic-ace795

[2020-05-10 13:44] elgarbe commented on #49
I found myself thst kinect model 1414 works ok with this driver, but model 1473 doesn't work

[2020-11-19 12:22] jiusan0327 commented on #22
hello,i meet the same problem......i use vmware ,yesterday i use rgbg+ros+kinectv1  works  ; but in the second day, the errors out: two situation here: **1.** i launch freenect , then loop [ INFO] [1605787660.980057731]: Starting a 3s RGB and Depth stream flush.[ INFO] [1605787663.981905634]: Stopping device RGB and Depth stream flush.
                                                      **2.** i

[2022-07-06 11:42] Tjaart-Hobby opened #52 "camera tilt suport"
Hi I am unable to add camera tilt support. If it is supported: how do I tilt? don't se motor support in launch files.
Could someone please ad motor support?

[2022-09-19 15:38] Obscuriosity commented on #31
I am having the same problem, running Melodic on a raspberry pi model b and Kinect 1, viewing point cloud on Noetic laptop.

terminate called after throwing an instance of 'std::runtime_error'
  what():  freenect_process_events error
[camera/camera_nodelet_manager-2] process has died [pid 3607, exit code -6, cmd /opt/ros/melodic/lib/nodelet/nodelet manager __name:=camera_nodelet_manager __log:=/ho